@charset "UTF-8";
/* CSS Document */
.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-colour: #2343AF ;
	background-image: linear-gradient(to bottom, #374DC0, #1F328B);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(28,151,170,1.00);
	color: #C5C5C5;
	font-weight: bold;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #CA0404;
	background-image: linear-gradient(to bottom, #252684, #6B6969);
}
