.grid {
	border: 1px solid red;
	overflow: hidden;
}

.unit {
	float: left;
	width: 33.3333%;
	background-color: #fff
}

.unit-2-3 {
	width: 66.6667%;
}

.gutter {
	padding-left: 1em;
	padding-right: 1em;
}
