.grid {
	overflow: hidden;
}

.unit {
	float: left;
	background-color: #fff
}

/*
	Instead of including this class in your grids.css
	Use the one included in your modular typography.css
*/
.gutter {
	padding-left: 1em;
	padding-right: 1em;
}

.unit-s-1 {
	width: 100%;
}

@media only screen and (min-width: 30em) {

	.unit-m-1-3 {
		width: 33.3333%;
	}

}

@media only screen and (min-width: 50em) {

	.unit-l-1-3 {
		width: 33.3333%;
	}

}
