<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Dinos 'R' Us</title>
<link href="{{site.baseur}}/css/common.css" rel="stylesheet">
<link href="{{site.baseur}}/css/typography.css" rel="stylesheet">
<link href="{{site.baseur}}/css/list-groups.css" rel="stylesheet">
<link href="{{site.baseur}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseur}}/css/embed.css" rel="stylesheet">
<link href="{{site.baseur}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseur}}/css/grids.css" rel="stylesheet">
<link href="{{site.baseur}}/css/header.css" rel="stylesheet">
<link href="{{site.baseur}}/css/icons.css" rel="stylesheet">
<link href="{{site.baseur}}/css/header.css" rel="stylesheet">
<link href="{{site.baseur}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseur}}/css/common.css" rel="stylesheet">
</head>

<body>

{{content}}

</body>
</html>
